@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


.App {
  text-align: center;
  background-color:  #0a1f44;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body { 
  padding: 0; 
  margin: 0;
  font-family: 'Space Mono'; 
  font-size: 150%;
  background-color:  #0a1f44;
  color: white;
}

#heart { 
  color: red;
}

h1 { 
 color: white;
}

.main-title {
  font-size: 4.5rem;
  text-align: center;
}

.main-subtitle {
  font-size: 3.5rem;
  text-indent: 10vw;
}

.main-bottom {
  width: 80vw;
  height: 50vh;
  margin: auto;
  display: flex;
}

.main-bottom > div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-bottom {
  width: 80vw;
  height: 50vh;
  margin: auto;
  display: flex;
}

nav { 
  /* background-color: #efac2f;  */
  border-bottom: 3px solid #666; 
  font-family: 'Space Mono';
  
}

ul { 
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

li { 
  display: inline-block; 
  margin-right: 8px; 
 
}

a {
  display: block; 
  padding: 1rem; 
  text-decoration: none; 
  color: #c6ced8; 
  font-weight: bold; 
}

a:hover { 
  background-color: #c0c2dc; 
  color: #efac2f; 
}

/*  footer  */

.main-footer {
  color: #64656c;
  font-size: 20px; 
  background-color:  #0a1f44;
  padding-top: 3em;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Space Mono';
  opacity: 40%;
  margin-left: 10%;
}

.list-unstyled { 
  font-size: small;
}
.weatherPage {
  color: white;
}