body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box {
  margin: 20px;
  flex-direction: row;
  flex-grow: 4;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}
.photo-content{
  margin: 20px;
  justify-content:center;
  font-size: 15px;
  max-width: auto;
  height: auto;
  /* text-align: center; */
}
.spaceImg{
  max-width: 10px; 
  height: 400px; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  border: none;
  border-radius: 25px;
  padding: 5px; 
}
