body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.photo-content{
  margin: 20px;
  justify-content:center;
  font-size: 15px;
  max-width: auto;
  height: auto;
  /* text-align: center; */
}

/* Parent Container */
.spaceImg{
  width: fit-content;
  position: relative;
  display: block;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  height: 10%;
  font-size: 15px;
  justify-items: stretch;
  margin: 10px;
}
 
 /* Child Text Container */
 .spaceImg div{
  position: absolute;
  bottom: 80px;
  right: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .spaceImg:hover{
  cursor: pointer;
 }
 
 .spaceImg:hover div{
  width: fit-content;
  padding: 10px;
  visibility: visible;
  opacity: 0.7; 
 }
